<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial do Jogo</h2>
        <a href="/jogo/create" class="btn btn-primary">Cadastrar novo jogo</a>
    </section>
</section>

<hr>
  <!-- Seção de Categorias -->
  <section id="categorias" class="py-5 my-4">
    <div class="container">
      <h2 class="text-center text-white mb-4">Jogos</h2>
      <div class="row">
        <div class="col-md-4 d-flex">
            {{#each dados}}
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{dataValues.nome}}</h5>
              <p class="card-text">Gênero: {{dataValues.genero}}</p>
              <p class="card-text">Coleção: {{colecao.dataValues.nome}}</p>
              <p class="card-text">Número de Jogadores: {{dataValues.num_jogadores}}</p>
              <p class="card-text">Descrição: {{dataValues.descricao}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>