<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial do Jogo</h2>
        <a href="/jogo/create" class="btn btn-primary">Cadastrar novo jogo</a>
    </section>
</section>

<hr>
  <!-- Seção de Categorias -->
<section class="container my-4">
  <div class="row">
      {{#each dados}}
      <div class="col-md-3 mb-4">
          <div class="card shadow-sm h-100 bgc-dark">
              <div class="card-body">
                  <p class="card-title"><strong>Jogo:</strong> {{dataValues.nome}}</p>
                  <p class="card-text"><strong>Gênero:</strong> {{dataValues.genero}}</p>
                  <p class="card-text"><strong>Jogadores:</strong> {{dataValues.num_jogadores}} jogadores</p>
                  <p class="card-text"><strong>Tempo:</strong> {{dataValues.tempo}} minutos</p>
                  <p class="card-text"><strong>Descrição:</strong> {{dataValues.descricao}}</p>
                  <div class="d-flex justify-content-center">
                      <a href="" class="btn btn-sm btn-primary pt-2 px-3" data-bs-toggle="modal"
                          data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                  </div>
              </div>
          </div>
      </div>

      {{>modalDeleteJogo idItem = dataValues.id}}

      {{/each}}
  </div>
</section>